
.navbar{
    display: flex;
    max-width: 440px;
    width: 100%;
     margin-left: 1rem;
}
.container{
    display: flex;
    align-items: center;
    width: 100%;
}
img{
    max-width: 104px;
}
.navbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icon-container{
    display: flex;
    
}