.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin: 1rem 0;
}
.input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.input-container > div{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: .4rem;
}
.input-container > div >input{
    border: 2px solid var(--primary-color);
}

.username,.email,.phonenum,.topic{
    width: 90%;
    height: 1.5rem;
    padding-left: .3rem;
    margin-bottom: .4rem;
    
}

textarea{
    width: 100%;
    min-height: 10rem;
    resize: none;
    padding-left: .3rem;
}

.consent{
    margin: 1rem;
}