<div class="container">
    <form [formGroup]="contactForm">
        <p>請留下您寶貴的意見，我們將盡快與您聯繫!</p>
        <p>或撥打客服專線0900-xxx-xxx (上班時間 週一至周週五 08:00-12:00、13:00-17:00)</p>
        <input type="text" placeholder="請輸入姓名或用戶名" formControlName="username">
        <input type="text" placeholder="請輸入Email" formControlName="email">
        <input type="text" placeholder="請輸入連絡電話" formControlName="phonenum">
        <input type="text" placeholder="請輸入訊息主題"formControlName="topic">
        <textarea name="qqw" placeholder="請填寫您的意見內容" formControlName="message"></textarea>
        <div class="">
            <input type="checkbox" id="check" formControlName="check">
            <label for="check">我已閱讀並同意隱私權與各資保護聲明</label>
        </div>
        <button (click)="sendForm()">確認送出</button>
    </form>
    

</div>