<div class="container">
    <div class="topbar">全部商品</div>
    <div class="content-container">
        <aside class="sidebar">
            <h1>分類</h1>
            
            <div class="tag-container">
                <app-navtag-side *ngFor="let tag of tags" [tag]="tag"></app-navtag-side>
            </div>
        </aside>
        <div class="product-container">
            <div class="filterbar">商品排序   每頁顯示 24 個</div>
            <div class="products">
                <app-card *ngFor="let card of cards" [card] ='card'></app-card>
            </div>
        </div>
    </div>

</div>
