*{
    font-family: Montserrat,Arial;
    box-sizing: border-box;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
:root{
    --primary-color: #d2bfa6;
}

body{
    font-size: .875rem;;
}